.top-bar{
    background: #ffffff;

}
.top-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-bar li{
    display: inline;
    margin: 5px;
}
.yep ul{
    padding: 5px;
    margin-top: 30px;
    display: inline-block;
    float: right;

}
.yep li{
    display: inline;
}
.no ul{
    margin-right: 10px;
    float: right;
    list-style: none;
}
.tabs{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 2.5em;
}
ul li{
    list-style: none;
    text-align: center;
}
ul li a{
    text-align: center;
    text-decoration: none;
}
.button{
    padding: 10px;
    background-color: #203447;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-family: 'Fjalla One';
    margin-bottom: 500px;
}
.idk{
    margin-bottom: 20px;
    background: white;
}
img{
    border-radius: 10px;
    margin: 20px;
}
body{
    font-family: sans-serif;
    background: #f0f2f2;
}
.button:hover{
    background-color: #ff8903; 
    color: white;
}
.bottom{
    background: rgb(16,26,33);
    background: linear-gradient(90deg, rgba(16,26,33,1) 0%, rgba(53,85,120,1) 100%);
    margin-top: 30px;

}
.header{
    color: white;
}
a{
    text-align: center;
}
.p{
    color: white;
    line-height: 0cm;
}
nav{
    background-color: darkblue;
}
.h2{
    font-family: 'Fjalla One';
    font-size: 3em;
}
.top-bar{
    background: #131d29;
    padding: 6px 0;
}
.top-bar a{
    color: grey;
}
.top-bar ul{
    text-align: right;
}

h2{
    font-family: 'Fjalla One';
    font-size: 2em;
}
.subheader{
    color: white;
    text-align: left;

}
.subheader2{
    color: grey;
    text-align: left;
    
}
.foot{
    background-color: black;
    height: 50px;
}
.foot p{
    color: white;
    font-size: 10px;
}
.para{
    margin-bottom: 50px;
}
.buttons{
    margin-bottom: 500px;
}
.a{
    color: grey;
}
.img{
    margin: 6px;
}